@import url("https://monstrousdev.github.io/themes/addons/minimalUserList.css");
.theme-dark,
.theme-light,
:root {
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #292929 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: #242424 !important;
    --background-floating: black !important; 
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-secondary) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important; 
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: rgb(60, 60, 60) !important;
}
/*Shows activities tab on hover*/
.nowPlayingColumn-2sl4cE {
    left: 310px;
    position: relative;
    transition: var(--hover-animation-speed);
    margin-left: -310px;
}
.nowPlayingColumn-2sl4cE:hover {
    transform: translateX(-310px);
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE .itemCard-v9viV7 {
    max-width: 100px;
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE:hover .itemCard-v9viV7 {
    max-width: 292px;
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE .itemCard-v9viV7 div {
    opacity: 0;
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE:hover .itemCard-v9viV7 div {
    opacity: 1;
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE .header-13Cw0- {
    transform: translateX(60px);
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE:hover .header-13Cw0- {
    transform: translateX(0px);
    transition: var(--hover-animation-speed);
}
.nowPlayingColumn-2sl4cE .header-13Cw0-::after {
    content: '';
    width: 31px;
    height: 4px;
    left: -67px;
    top: 5px;
    background: unset;
    background-color: var(--channels-default);
    border-radius: 10px;
    position: absolute;
}
.nowPlayingColumn-2sl4cE:hover .header-13Cw0-::after {
    content: '';
    width: 31px;
    height: 4px;
    top: 5px;
    left: -50px;
    background: unset;
    background-color: var(--channels-default);
    border-radius: 10px;
    position: absolute;
    transform: translateX(-20px)
}
/*end of activities tab*/

/*Display: None*/
.status-1fhblQ, .description-2L932D, .separator-2I32lJ, [class="button-1YfofB buttonColor-7qQbGO fauxDisabled-2ik0Vw button-38aScr lookFilled-1Gx00P colorBrand-3pXr91 sizeSmall-2cSMqn grow-q77ONN button-1YfofB"] {
    display: none;
}
.mask-1qbNWk.icon-1IxfJ2 {
    --status-icon-size: 75%;
    height: var(--status-icon-size); 
    width: var(--status-icon-size);
    margin-left: 33%;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column: 1/5;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
    transition: opacity 0.15s linear 0s;
}
.customText-tY5LJn {
    font-size: 15px;
}
/*end of CSM*/
#splash {
    background: #0c0c0c;
}

.progress .progress-bar {
    background-color: #292929;
}
.progress .progress-bar .complete {
    background-color: white;
}
#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: #141414;
    border-color: #191919;
}
#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: #141414;
    border-color: #191919;
}

[class="avatarContainer-28iYmV avatar-3tNQiO avatarSmall-1PJoGO avatarSpeaking-2IGMRN"], [class="border-3dQmSY speaking-WDn8Wm"], [class="border-Jn5IOt speaking-B2MXPi"] {
    box-shadow: inset 0 0 0 2px cyan,inset 0 0 0 3px var(--background-secondary);
    animation: boxshadow 3s linear infinite;
}
@keyframes boxshadow {
    0%, 100% {
        box-shadow: inset 0 0 0 2px cyan,inset 0 0 0 3px var(--background-secondary);;
    }
    25% {
        box-shadow: inset 0 0 0 2px lime,inset 0 0 0 3px var(--background-secondary);;;
    }
    50% {
       box-shadow: inset 0 0 0 2px yellow,inset 0 0 0 3px var(--background-secondary);;; 
    }
    75% {
        box-shadow: inset 0 0 0 2px red,inset 0 0 0 3px var(--background-secondary);;;
    }
}
/* SmallerServerName */
.clickable-25tGDB .header-2V-4Sw {
    height: 25px;
    transition: ease-in-out 0.2s;
}
.clickable-25tGDB .header-2V-4Sw * {
    transition: ease-in-out 0.3s;
}
.clickable-25tGDB .header-2V-4Sw *:not(.name-3YKhmS) {
    opacity: 1;
}
.clickable-25tGDB .header-2V-4Sw .name-3YKhmS {
    transform: translateX(-10px);
    font-size: 11px;
}
.clickable-25tGDB .header-2V-4Sw:hover {
    height: 48px;
}

.clickable-25tGDB .header-2V-4Sw:hover .name-3YKhmS {
    transform: translateX(0px);
    font-size: 14px;
}

/* Fly in Voice Chat buttons fix */
.container-3baos1 .noWrap-3jynv6 {

  width: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}
.container-3baos1:hover .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
  pointer-events: all;
}
/* rainbow-server-settings-button */
@keyframes generic-rainbow {
  from {color: #6666ff}
  25%  {color: #0099ff}
  50%  {color: #00ff00}
  75%  {color: #ff3399}
  100% {color: #6666ff}
}
@keyframes pill-rainbow {
  from {background-color: #6666ff}
  25%  {background-color: #0099ff}
  50%  {background-color: #00ff00}
  75%  {background-color: #ff3399}
  100% {background-color: #6666ff}
}
.button-1w5pas  {
  animation: generic-rainbow 10s ease-in-out infinite;
}
/*RGB MANAGER*/
.wordmark-2iDDfm, .homeIcon-tEMBK1,.icon-22AiRD, [class="title-29uC1r base-1x0h_U size16-1P40sf"], [class="winButtonClose-1HsbF- winButton-iRh8-Z flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs"], [class="winButtonMinMax-PBQ2gm winButton-iRh8-Z flexCenter-3_1bcw flex-1O1GKY justifyCenter-3D2jYp alignCenter-1dQNNs"], [class="item-2hkk8m"]::after, [class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignCenter-1dQNNs noWrap-3jynv6"], .pingForeground-2uAOZ3, .contents-18-Yxp  {
	animation: generic-rainbow 5s ease-in-out infinite;
}
[class="icon"] .item-2hkk8m, {
	animation: pill-rainbow 5s ease-in-out infinite;
}
[class="iconBadge-2wi9r4 participating-NBGDkr iconBadge-2NuvG9 base-PmTxvP"] {
  animation: pill-rainbow 5s ease-in-out infinite;
  color: var(--background-primary);
}

/*Better Status Start*/
[aria-label="Online"]::after {
   content: 'ONLINE';
   font-weight: bold;
   padding-left: 5px;
   color: #43B581
}
[aria-label="Do Not Disturb"]::after {
   content: 'DO NOT DISTURB';
   font-weight: bold;
   padding-left: 5px;
   color: #F04747
}
[aria-label="Idle"]::after {
   content: 'IDLE';
   font-weight: bold;
   padding-left: 5px;
   color: #FFB740
}
[aria-label="Offline"]::after {
   content: 'OFFLINE/INVISIBLE';
   font-weight: bold;
   padding-left: 5px;
   color: #747F8D
}
/*Better Status End*/
/*Fly in Buttons Start*/
.button-14-BFJ{
  transition: 0.2s;
}
.button-14-BFJ:hover{
  padding-bottom: 5px;
  transition: 0.2;
  animation-name: generic-rainbow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*Fly In Buttons End*/
.vp-audioviz-bar {
  box-sizing: border-box !important;
  animation-name: pill-rainbow !important;
  animation-duration: 2.5s !important;
  animation-iteration-count: infinite !important;
}

.powercord-spotify .spotify-seek-bar-progress {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-size: 1800% 1800%;
    -webkit-animation: pill-rainbow 3s ease-in-out infinite;
    -z-animation: pill-rainbow 3s ease-in-out infinite;
    -o-animation: pill-rainbow 3s ease-in-out infinite;
    animation: pill-rainbow 3s ease-in-out infinite;
}

.panels-j1Uci_ > .container-3baos1 .flex-1xMQg5 button:last-child:hover {


  animation: rotate 3s infinite;
  -webkit-transition-delay: now;
  -webkit-animation-timing-function: linear;
  background-color: transparent;
  
}

/*Tertiary*/

[aria-label="User area"], [class="section-2gLsgF"], [class="theme-dark root-1gCeng"], [class="scroller-2LSbBU auto-Ge5KZx scrollerBase-289Jih disableScrollAnchor-3V9UtP"]::-webkit-scrollbar-track, .nowPlayingColumn-2sl4cE {
	background-color: var(--background-tertiary);
}


/*Primary*/

.container-2x5lvQ, .separator-XqIyoz, [class="body-1ld4H7 inset-3sAvek"], .childWrapper-anI2G9, [class="theme-dark footer-2gL1pp"], [class="scroller-2LSbBU auto-Ge5KZx scrollerBase-289Jih disableScrollAnchor-3V9UtP"]::-webkit-scrollbar-thumb, .peopleColumn-29fq28, .itemCard-v9viV7 {
	background-color: var(--background-primary);
}

/*Secondary-Alt*/

[class="scroller-2LSbBU auto-Ge5KZx scrollerBase-289Jih disableScrollAnchor-3V9UtP scrolling-1Cdwk-"]::-webkit-scrollbar-thumb {
	background-color: var(--background-secondary-alt);	

}

/*Secondary*/

[class="scroller-2LSbBU auto-Ge5KZx scrollerBase-289Jih disableScrollAnchor-3V9UtP scrolling-1Cdwk-"]::-webkit-scrollbar-track {
	background-color:	var(--background-secondary)

}

/*Misc*/

.icon-3s6X1M {
	color:  var(--background-tertiary);
}
